<div class="main-panel">
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar bar1"></span>
          <span class="icon-bar bar2"></span>
          <span class="icon-bar bar3"></span>
        </button>
        <a class="navbar-brand" href="#">Orders</a>
      </div>
      <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav navbar-right">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <i class="ti-bell"></i>
              <p class="notification">5</p>
              <p>Notifications</p>
              <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><a href="#">Notification 1</a></li>
              <li><a href="#">Notification 2</a></li>
              <li><a href="#">Notification 3</a></li>
              <li><a href="#">Notification 4</a></li>
              <li><a href="#">Another notification</a></li>
            </ul>
          </li>

          <li>
            <a href="#">
              <i class="ti-settings"></i>
              <p>Settings</p>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="content">
    <div class="row">
      <div class="col-md-6">
        <div class="card">
          <div class="header">
            <h4>New Orders</h4>

          </div>
          <div class="content">
            <div class="order-item" *ngFor="let order of notDeliveredList; index as i">
              <div class="name">Order ID: {{i+1}} </div>
              <div class="name">Name :  {{order?.name}}</div>
              <div class="name"> Email : {{order?.email}}</div>
              <div class="name"> Date : {{order?.date | date}}</div>
              <div class="name">Amount Paid :  {{order?.amount / 100 | currency}}</div>
              <div class="name"> {{order?.address}}, {{order?.city}}, PIN : {{order?.zipcode}} </div>
              <div class="name">Orders: </div>
              <div class="order-item" *ngFor="let item of order?.items; index as i">

                <div class="name">Item : {{item?.heading}} </div>
                <div class="name">Date : {{item?.date | date}} </div>
                <div class="name">Type : {{item?.type}} </div>
                <div class="name">Cost : {{item?.cost | currency}} </div>

              </div>
              <button class="btn" (click)="markDeliverd(i)">Mark Delivered</button>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card">
          <div class="header">
            <h4>Delivered Orders</h4>
          </div>
          <div class="content">
            <div class="order-item" *ngFor="let order of deliveredList; index as i">
              <div class="name">Order ID: {{i+1}} </div>
              <div class="name">Name :  {{order?.name}}</div>
              <div class="name"> Email : {{order?.email}}</div>
              <div class="name"> Date : {{order?.date | date}}</div>
              <div class="name">Amount Paid :  {{order?.amount / 100 | currency}}</div>
              <div class="name"> {{order?.address}}, {{order?.city}}, PIN : {{order?.zipcode}} </div>
              <div class="name">Orders: </div>
              <div class="order-item" *ngFor="let item of order?.items; index as i">

                <div class="name">Item : {{item?.heading}} </div>
                <div class="name">Date : {{item?.date | date}} </div>
                <div class="name">Type : {{item?.type}} </div>
                <div class="name">Cost : {{item?.cost | currency}} </div>

              </div>
              <button class="btn" (click)="markNotDeliverd(i)">Mark Not Delivered</button>
            </div>
          </div>
          </div>
        </div>
      </div>
    </div>
  </div>
