<div class="wrapper">
  <div class="sidebar" data-background-color="white" data-active-color="danger">
    <div class="sidebar-wrapper" *ngIf="getLoginStatus === 'true' " >
      <div class="logo">
        <a href="" class="simple-text"> METACULTURE </a>
      </div>

      <ul class="nav">
        <li [ngClass]="currentRoute?.url === '/dashboard' ? 'active' : ''">
          <a [routerLink]="['dashboard']">
            <i class="ti-panel"></i>
            <p>Dashboard</p>
          </a>
        </li>
        <li [ngClass]="currentRoute?.url === '/courses' ? 'active' : ''">
          <a [routerLink]="['courses']">
            <i class="ti-video-clapper"></i>
            <p>Courses</p>
          </a>
        </li>
        <li [ngClass]="currentRoute?.url === '/posters' ? 'active' : ''">
          <a [routerLink]="['posters']">
            <i class="ti-image"></i>
            <p>Posters</p>
          </a>
        </li>
        <li [ngClass]="currentRoute?.url === '/notification' ? 'active' : ''">
          <a [routerLink]="['orders']">
            <i class="ti-bell"></i>
            <p>Orders</p>
          </a>
        </li>
      </ul>
    </div>
  </div>

<router-outlet></router-outlet>
</div>
