<div class="main-panel">
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar bar1"></span>
          <span class="icon-bar bar2"></span>
          <span class="icon-bar bar3"></span>
        </button>
        <a class="navbar-brand" href="#">Dashboard</a>
      </div>
      <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav navbar-right">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <i class="ti-bell"></i>
              <p class="notification">5</p>
              <p>Notifications</p>
              <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><a href="#">Notification 1</a></li>
              <li><a href="#">Notification 2</a></li>
              <li><a href="#">Notification 3</a></li>
              <li><a href="#">Notification 4</a></li>
              <li><a href="#">Another notification</a></li>
            </ul>
          </li>

          <li>
            <a (click)="logout()">
              <i class="ti-settings"></i>
              <p>Logout</p>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-3 col-sm-6">
          <div class="card">
            <div class="content">
              <div class="row">
                <div class="col-xs-5">
                  <div class="icon-big icon-warning text-center">
                    <i class="ti-bag"></i>
                  </div>
                </div>
                <div class="col-xs-7">
                  <div class="numbers">
                    <p>New Orders</p>
                    {{orderCount}}
                  </div>
                </div>
              </div>
              <div class="footer">
                <hr />
                <div class="stats"><i class="ti-bag"></i> {{todayOrderCount}} Orders today</div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-sm-6">
          <div class="card">
            <div class="content">
              <div class="row">
                <div class="col-xs-5">
                  <div class="icon-big icon-success text-center">
                    <i class="ti-wallet"></i>
                  </div>
                </div>
                <div class="col-xs-7">
                  <div class="numbers">
                    <p>Revenue</p>
                    ${{totalRevenue}}
                  </div>
                </div>
              </div>
              <div class="footer">
                <hr />
                <div class="stats"><i class="ti-wallet"></i> Today ${{todayRevenue}}</div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-sm-6">
          <div class="card">
            <div class="content">
              <div class="row">
                <div class="col-xs-5">
                  <div class="icon-big icon-danger text-center">
                    <i class="ti-image"></i>
                  </div>
                </div>
                <div class="col-xs-7">
                  <div class="numbers">
                    <p>Posters</p>
                    {{posterCount}}
                  </div>
                </div>
              </div>
              <div class="footer">
                <hr />
                <div class="stats">
                  <i class="ti-timer"></i> Last Poster a day ago
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-sm-6">
          <div class="card">
            <div class="content">
              <div class="row">
                <div class="col-xs-5">
                  <div class="icon-big icon-info text-center">
                    <i class="ti-video-clapper"></i>
                  </div>
                </div>
                <div class="col-xs-7">
                  <div class="numbers">
                    <p>Courses</p>
                    {{courseCount}}
                  </div>
                </div>
              </div>
              <div class="footer">
                <hr />
                <div class="stats">
                  <i class="ti-timer"></i> Last course added 3 days ago
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="header">
              <h4 class="title">Statistics</h4>
              <p class="category">24 Hours performance</p>
            </div>
            <div class="content">
              <div id="chartHours" class="ct-chart">
                <ngx-charts-line-chart
                  class="w-100"
                  [legend]="legend"
                  [showXAxisLabel]="showXAxisLabel"
                  [showYAxisLabel]="showYAxisLabel"
                  [xAxis]="xAxis"
                  [yAxis]="yAxis"
                  [xAxisLabel]="xAxisLabel"
                  [yAxisLabel]="yAxisLabel"
                  [timeline]="timeline"
                  [results]="multi"
                  (select)="onSelect($event)"
                  (activate)="onActivate($event)"
                  (deactivate)="onDeactivate($event)"
                >
                </ngx-charts-line-chart>
              </div>
              <div class="footer">
                <hr />
                <div class="stats">
                  <i class="ti-reload"></i> Updated 3 minutes ago
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="card">
            <div class="header">
              <h4 class="title">Comments and people trying to contact you</h4>
            </div>
            <div class="content">
              <ul class="list-unstyled team-members">
                <li>
                  <div class="row">
                    <div class="col-xs-3">
                      <div class="avatar">
                        <img
                          src="assets/img/faces/face-0.jpg"
                          alt="Circle Image"
                          class="img-circle img-no-padding img-responsive"
                        />
                      </div>
                    </div>
                    <div class="col-xs-6">
                      Vivek
                      <br />
                      <!-- <span class="text-muted"><small>Offline</small></span> -->
                    </div>

                    <div class="col-xs-3 text-right">
                      <button class="btn btn-sm btn-success btn-icon">
                        <i class="fa fa-envelope"></i>
                      </button>
                    </div>
                  </div>
                </li>
                <li>
                  <div class="row">
                    <div class="col-xs-3">
                      <div class="avatar">
                        <img
                          src="assets/img/faces/face-0.jpg"
                          alt="Circle Image"
                          class="img-circle img-no-padding img-responsive"
                        />
                      </div>
                    </div>
                    <div class="col-xs-6">
                      Temp
                      <br />
                      <!-- <span class="text-success"><small>Available</small></span> -->
                    </div>

                    <div class="col-xs-3 text-right">
                      <button class="btn btn-sm btn-success btn-icon">
                        <i class="fa fa-envelope"></i>
                      </button>
                    </div>
                  </div>
                </li>
                <li>
                  <div class="row">
                    <div class="col-xs-3">
                      <div class="avatar">
                        <img
                          src="assets/img/faces/face-0.jpg"
                          alt="Circle Image"
                          class="img-circle img-no-padding img-responsive"
                        />
                      </div>
                    </div>
                    <div class="col-xs-6">
                      Flume
                      <br />
                      <!-- <span class="text-danger"><small>Busy</small></span> -->
                    </div>

                    <div class="col-xs-3 text-right">
                      <button class="btn btn-sm btn-success btn-icon">
                        <i class="fa fa-envelope"></i>
                      </button>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="card">
            <div class="header">
              <h4 class="title">Your Top selling Courses/Posters</h4>
            </div>
            <div class="content">
              <div id="chartActivity" class="ct-chart"></div>
              Chart goes here
              <div class="footer">
                <!-- <div class="chart-legend">
                    <i class="fa fa-circle text-info"></i> Tesla Model S
                    <i class="fa fa-circle text-warning"></i> BMW 5 Series
                  </div> -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <footer class="footer">
    <div class="container-fluid">
      <nav class="pull-left"></nav>
      <div class="copyright pull-right">
        © Copyright 2022 MetaCulture. All Rights Reserved. Chic Lite | Developed
        By <a href="https://pinakadigitech.com">Pinaka Digitech</a>
      </div>
    </div>
  </footer>
</div>
